<!doctype html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/static/login/style.css" rel="stylesheet">
    <title>登入</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- 登入面板外框 -->
            <div class="fixed  login-panel">

                <!-- 上方圖示 -->
                <img class="login-panel-image" src="/static/login/icon.png" alt="">

                <!-- 登入字樣 -->
                <div class="login-panel-title fs-3 text-center fw-bold">登入帳號</div>

                <!-- 帳號 -->
                <div class="login-panel-label fs-4 text-secondary">帳號</div>

                <!-- 帳號輸入 -->
                <div class="input-group">
                    <input type="text" class="form-control" name="account" placeholder="帳號">
                </div>

                <!-- 密碼 -->
                <div class="login-panel-label fs-4 text-secondary">密碼</div>
                
                <!-- 密碼輸入 -->
                <div class="input-group">
                    <input type="password" class="form-control" name="password" placeholder="密碼">
                </div>

                <!-- 送出按鈕 -->
                <div class="login-panel-submit-btn d-grid gap-2">
                    <button class="btn btn-primary" type="button">登入</button>
                  </div>


            </div>
            <!-- /登入面板外框 -->

        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>